<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging"/>
    </sectionGroup>
    <section name="logging" type="X3Platform.Logging.Config.LoggingConfigurationSectionHandler,X3Platform.Support"/>
    <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support"/>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="level" value="INFO"/>
        <arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>

  <kernel>
    <!-- 系统名称 -->
    <key name="SystemName" value="测试"/>
    <!-- 应用服务器名称 -->
    <key name="HostName" value="http://www.x3platform.com"/>
    <!-- 静态文件服务器名称 -->
    <key name="StaticFileHostName" value="http://www.x3platform.com"/>
    <!-- 域名称 -->
    <key name="Domain" value="x3platform.com"/>
    <!-- 版本 -->
    <key name="Version" value="1.0.0.0"/>
    <!-- 作者 -->
    <key name="Author" value="Elane"/>
    <!-- 管理员邮箱 -->
    <key name="WebmasterEmail" value="ruany@x3platform.com"/>
    <!-- 数据库的服务器地址 -->
    <key name="DatabaseSettings.DataSource" value="(local)"/>
    <!-- 数据库的应用数据库名称 -->
    <key name="DatabaseSettings.Database" value="X3_Development"/>
    <!-- 数据库的登录帐号 -->
    <key name="DatabaseSettings.LoginName" value="sa"/>
    <!-- 数据库的登录密码 -->
    <key name="DatabaseSettings.Password" value="sa"/>
    <!-- 数据库的SQL配置文件地址 -->
    <key name="DatabaseSettings.IBatisSqlMapFilePathRoot" value="${ApplicationPathRoot}config\"/>
    <!-- 同步更新包变化提醒模式 : 可选的值 1.On 2.Off(默认) -->
    <key name="Membership.PackageStorageNoticeMode" value="Off"/>
    <!-- 服务的名称 -->
    <key name="Services.ServiceName" value="X3 Services Host"/>
    <!-- 服务的显示名称 -->
    <key name="Services.ServiceDisplayName" value="X3 Services Host"/>
    <!-- 服务的描述信息 -->
    <key name="Services.ServiceDescription" value="X3 平台基础服务"/>
  </kernel>
  <appSettings>
    <add key="Customs.HuaDong.Inventec.MachineName" value="FormatName:DIRECT=TCP:222.177.226.141\Private$" />
    <add key="Customs.HuaDong.Inventec.QueueName" value="10000003_5006640002_in" />
    <add key="Customs.HuaDong.Inventec.Receive.MachineName" value=".\Private$" />
    <add key="Customs.RabbitMQ.Addresses" value="rabbitmq.amiintellect.com" />
    <add key="Customs.RabbitMQ.Port" value="5672" />
    <!-- 10000003_5006640002 / 306ab1f2 -->
    <add key="Customs.RabbitMQ.Username" value="10000001_500923000A_02" />
    <add key="Customs.RabbitMQ.Password" value="10000001_500923000A_02" />
    <add key="Customs.RabbitMQ.ExchangeName" value="" />
    <add key="Customs.RabbitMQ.Send.QueueName" value="Q_SendAJV2_test" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
</configuration>
